body {
  font-family: "Amiri", serif;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.controls {
  margin-bottom: 20px;
}

select, button {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
}

#quranText {
  max-width: 800px;
  margin: 20px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: right;
  direction: rtl;
}

.ayah {
  font-size: 24px;
  line-height: 2.2;
  margin-bottom: 12px;
}

audio {
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
}
