body {
  font-family: "Amiri", serif;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.controls {
  margin-bottom: 20px;
}

select, button {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
}

#quranText {
  max-width: 800px;
  margin: 20px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: right;
  direction: rtl;
}

.ayah {
  font-size: 24px;
  line-height: 2.2;
  margin-bottom: 12px;
}

audio {
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
}

body {
  background: #e6dfcf;
}

.mushaf {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  max-width: 900px;
}

.page {
  width: 420px;
  min-height: 600px;
  background: #fdf8ee;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: "Amiri", serif;
}

.page.left {
  border-right: 3px solid #c2b280;
}

.page.right {
  direction: rtl;
  text-align: justify;
  font-size: 22px;
  line-height: 2.2;
}
